{% extends 'base.html.twig' %}

{% block title %}Hello UserVisitsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    Statistics for added records:
    <ul>
        <li>Loaded items from "user_visits.txt": <code>{{ UserVisits }}</code></li>
        <li>Loaded items from "user_envs.txt":  <code>{{ UserEnv }}</code></li>
    </ul>
    <h3>Errors during parsing for a file ../data/user_visits.txt:</h3>
    <ul>
        {% for error in UserVisitsErrors %}
            <li>[{{ error.stringNumber }}]: {{ error.invalidProperty }} / {{ error.invalidValue }} / {{ error.message }}</li>
        {% endfor %}
    </ul>
    <h3>Errors during parsing for a file ../data/user_envs.txt:</h3>
    <ul>
        {% for error in UserEnvErrors %}
            <li>[{{ error.stringNumber }}]: {{ error.invalidProperty }} / {{ error.invalidValue }} / {{ error.message }}</li>
        {% endfor %}
    </ul>
    <h3>Errors during parsing for a file ../data/user_visits.txt:</h3>
    <ul>
        {% for error in UserVisitsErrors %}
            <li>[{{ error.stringNumber }}]: {{ error.invalidProperty }} / {{ error.invalidValue }} / {{ error.message }}</li>
        {% endfor %}
    </ul>
    <h3>Errors during parsing for a file ../data/user_envs.txt:</h3>
    <ul>
        {% for error in UserEnvErrors %}
            <li>[{{ error.stringNumber }}]: {{ error.invalidProperty }} / {{ error.invalidValue }} / {{ error.message }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
